#root {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Things", sans-serif;
}
.bold {
  font-family: "Domaine Bold", sans-serif;
}

.head {
  font-family: "Kagak", sans-serif;
}
.card {
  padding: 2em;
}

.gradient-text {
  background: linear-gradient(45deg, #3d58a7, #c3449a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.dark .gradient-text {
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.yRemoteSelection {
  opacity: 0.5;
  background-color: var(--user-color);
  margin-right: -1px;
}

/* Cursor caret */
.yRemoteSelectionHead {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  border-left: 2px solid var(--user-color);
}

/* Cursor name */
.yRemoteSelectionHead::after {
  position: absolute;
  top: -1.4em;
  left: -2px;
  padding: 2px 6px;
  background: var(--user-color);
  color: #fff;
  border: 0;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  line-height: normal;
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  pointer-events: none;
  user-select: none;
  z-index: 1000;
}
